html
  head
    title='Exercise Tracker'
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(type='text/css' rel='stylesheet' href='/stylesheets/index.css')

  body

    h1 hello
